.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', serif;
}

.headerapp{
  width: 100%;
  height: 10vh;
  background-color: black;
}

.innerheaderapp{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Logo{
  color: white;
}

.Nav{
  color: white;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navitem{
  padding-left:10%;
  padding-top: 5%;
}

#options{
  height: 100vh;
  background-color: blue;
  width: 20vw;
  display: flex;
  justify-content: center;
  /* float: left; */
  grid-area : opcoes;

}

#inneroptions{
  background-color: blueviolet;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}




#ulopcao{
  margin-top: 5%;
}


.liopcao:hover{
  background-color: grey;
}

.opcao{

  width: 100%;
  margin: 3%;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  color: white;


}

#Botao{
  grid-area: add;
}

#Botao button{
  float:left;
  margin-left: 1%;
}

.taskContainer{
  width: 70vw;
  height: 100%;
  min-height: 100vh;
  /* background-color: red; */
  /* float:right; */

  grid-area: tasks;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}

.innerload{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #fc4e03; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.task{
  width: 90%;
  height: 5vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1px #fc4e03;
}

.grid{

  display: grid;
  grid-template-areas:
  'opcoes content';

}

.content{
  grid-area: content;
  display: flex;
  flex-direction: column;
}

#checkboxdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletebutton{
    color : #fc4e03;
    background-color: transparent;
    font-size: larger;
    cursor: pointer;
    border-style: none;
}

.titulo{
  display: flex;
  height: 10vh;
  align-items: center;
  width: 90%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#icons{
  display: flex;
  justify-content: space-around;
  width:7%;
}

.addtask{
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    row-gap: 3vh;

}

#titlearea{
  width: 95%;
  padding: 3vh 3vh 0 0;
  border-style: none;
  border: none;
}
#descarea{
  width: 97%;
  resize: none;
  vertical-align: middle;
  border-style: none;
  word-break: break-all;
}

*:focus {
  outline: none;
}

#titleareacontainer,#descareacontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#datepriocontainer{
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

#buttonscontainer{
  display: grid;
  margin-left: 1%;
  grid-template-columns: auto auto;
  column-gap: 1%;
}