.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.headerapp{
  width: 100%;
  height: 7vh;
  background-color: #2e5799;
}

.innerheaderapp{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#nome{
 
}
.Logo{
  color: white;
  font-size: larger;
  display: flex;
}

#homeicon{
  cursor: pointer;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.fa-home:hover{
  background-color: grey;
}

.Nav{
  color: white;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navitem{
  padding-left:10%;
  padding-top: 5%;
}

#options{
  height: 100vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  /* float: left; */
  grid-area : opcoes;
  background-color: #e3e3e3;

}

#inneroptions{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}




#ulopcao{
  margin-top: 5%;
}


.liopcao:hover{
  background-color: #707070;
}



.opcao{

  width: 100%;
  margin: 3%;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  color: black;


}

#divbotaoaddtask{
  grid-area: add;
  display: flex;
  align-items: center;
  width: 88%;
  height: 10vh;
  justify-content: space-between;
}

#botaoaddtask{
  padding: 2%;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  background-color: #2e5799;
  color: white; 
  width: 20%;
}

#botaoaddtask:hover{
  background-color: #335fa6;
}

#Botao button{
  float:left;
  margin-left: 1%;
}

.taskContainer{
  width: 70vw;
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: red; */
  /* float:right; */

  grid-area: tasks;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.task{
  width: 90%;
  height: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1px #fc4e03;
}

.grid{

  display: grid;
  grid-template-areas:
  'opcoes content';

}

.content{
  grid-area: content;
  display: flex;
  flex-direction: column;
}

#checkboxdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#deletebutton,#editbutton{
    color : "black";
    background-color: transparent;
    font-size: larger;
    cursor: pointer;
    border-style: none;
}

.titulo{
  display: flex;
  height: 100%;
  align-items: center;
  width: 90%;
  margin-top: 5%;

}


#icons{
  display: flex;
  justify-content: center;
  width:20%;
  flex-direction: row;
  justify-content: space-between;
}

#concluida{
  width: 100%;
  color: white;
  background-color: #2e5799;
  padding: 2%;
  border-style: none;
  cursor:pointer;

}

.addtask{
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    row-gap: 3vh;
    /* margin-left: 7%; */

}

#addtaskcontainer{
  width: 88%;
  height: 100%;
}

#titlearea{
  width: 95%;
  padding: 3vh 3vh 0 0;
  border-style: none;
  border: none;
}
#descarea{
  width: 97%;
  resize: none;
  vertical-align: middle;
  border-style: none;
  word-break: break-all;
}

*:focus {
  outline: none;
}

#titleareacontainer,#descareacontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#datepriocontainer{
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

#buttonscontainer{
  display: grid;
  margin-left: 1%;
  grid-template-columns: auto auto;
  column-gap: 1%;
  width: 99%;
  margin: 0 auto;
}
.blankspace{
  width: 100%;
  height: 1vh;
}

#addtaskbutton,#cancelbutton{
  padding: 2%;
  border-style: none;
  cursor:pointer;
}

#addtaskbutton{
  color: white;
  background-color: #2e5799;
}

#cancelbutton{
  background-color: #a8a8a8;
}

#taskcontent{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
}

#prioanddatetask{
  display: flex;
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #000000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #335fa6;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loadingcointainer{
  width: 70vw;
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: red; */
  /* float:right; */

  grid-area: tasks;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Footer{
  width: 100%;
  height: 10vh;
  background-color: #2e5799;
  margin-top: 5%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

#footercontainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.Footer a{
  color: white;
}

#icon{
  width: 30vw;
  height: 30vh;
}

#icon img{
  width: 50%;
  height: auto;
}


#sort{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  
}

.sortoption{
  border-style: none;
  width: 50%;
  height: 30%;
  color: white;
  background-color: #2e5799;
  cursor: pointer;

}

.sortbutton{
  padding: 1%;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  background-color: #2e5799;
  color: white; 
  width: 20%;
}

#signoutcontainer{
  font-size: 1.5rem;
  cursor: pointer;
}