.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.headerapp{
  width: 100%;
  height: 7vh;
  background-color: #2e5799;
}

.innerheaderapp{
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#nome{
  font-family: 'Eczar', serif;
}

#nome:hover{
  color: #dadada;
}

.Logo{
  color: white;
  font-size: 3vh;
  display: flex;
}

#homeicon{
  cursor: pointer;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  font-size: 3.5vh;
  font-family: 'Montserrat', sans-serif;
}

#homeicon:hover{
  color: #dadada;
}

.Nav{
  color: white;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}

.navitem{
  padding-left:10%;
  font-family: 'Montserrat', sans-serif;
}

.navitem:hover{
  color: #dadada;
}

#options{
  height: 100vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  /* float: left; */
  grid-area : opcoes;
  background-color: #ebebeb;
}

#inneroptions{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  
}




#ulopcao{
  margin-top: 5%;
}

.liopcao{
  display: flex;
}

.liopcao:hover{
  background-color: #707070;
}



.opcao{

  width: 100%;
  margin: 3%;
  margin-left:20%;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  text-align: left;
  font-size: 2.5vh;


}

#divbotaoaddtask{
  grid-area: add;
  display: flex;
  align-items: center;
  width: 88%;
  height: 10vh;
  justify-content: space-between;
}

#botaoaddtask{
  padding: 2%;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  color: black; 
  width: 20%;
  transition: 0.5s;
  font-size: 3vh;
}

#botaoaddtask:hover{

}

#botaoaddtask:after{
  content: '';
  height: 0.15rem;
  width: 0%;
  background-color: #2e5799;
  display: block;
  transition: 0.3s ease-in-out;
}

#botaoaddtask:hover::after{
  content: '';
  height: 0.15rem;
  width: 100%;
  background-color: #2e5799;
  display: block;
}

#mais{
  color: #2e5799;
  font-size: 3vh;
}

#prio{
  background-color:#2e5799;
  width: 10vw;
  height: 2vh;
}

#Botao button{
  float:left;
  margin-left: 1%;
}

.taskContainer{
  width: 70vw;
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: red; */
  /* float:right; */

  grid-area: tasks;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.task{
  width: 90%;
  height: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task:hover{
  background-color: #ebebeb;
}

.checkbox:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1px #fc4e03;
}

.grid{

  display: grid;
  grid-template-areas:
  'opcoes content';

}

.content{
  grid-area: content;
  display: flex;
  flex-direction: column;
}

#checkboxdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#deletebutton,#editbutton{
    color : "black";
    background-color: transparent;
    font-size: 3vh;
    cursor: pointer;
    border-style: none;
}

#deletebutton:hover,#editbutton:hover{
  background-color: #dadada;
}

.titulo{
  display: flex;
  height: 100%;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  font-size: 3.80vh;

}


#icons{
  display: flex;
  justify-content: center;
  width:20%;
  flex-direction: row;
  justify-content: center;
}

#concluida{
  width: 20%;
  color: white;
  background-color: #2e5799;
  padding: 2%;
  border-style: none;
  cursor:pointer;

}

.addtask{
    width: 100%;
    height: 30vh;
    /* width: 143vh; */
    border: 1px solid grey;
    border-radius: 0.3rem;
    display: grid;
    grid-template-rows: auto;
    row-gap: 3vh;
    /* margin-left: 7%; */

}

#addtaskcontainer{
  width: 88%;
  height: 100%;
}

#titlearea{
  width: 95%;
  padding: 3vh 3vh 0 0;
  border-style: none;
  border: none;
  font-size: 2vh;
}
#descarea{
  width: 97%;
  resize: none;
  vertical-align: middle;
  border-style: none;
  word-break: break-all;
  font-size: 2vh;
}

*:focus {
  outline: none;
}

#titleareacontainer,#descareacontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

#datepriocontainer{
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  font-size: 2vh;
}

#date{
  cursor: pointer;
  width: 10vw;
  font-size:2vh;
}

#buttonscontainer{
  display: grid;
  margin-left: 1%;
  grid-template-columns: auto auto;
  column-gap: 1%;
  width: 99%;
  margin: 0 auto;
}
.blankspace{
  width: 100%;
  height: 1vh;
}

#addtaskbutton,#cancelbutton,#edittaskbutton{
  padding: 2%;
  border-style: none;
  cursor:pointer;
  border-radius: 0.3rem;
  font-size: 2vh;
}

#addtaskbutton{
  color: white;
  background-color: #2e5799;
}

#edittaskbutton{
  color: white;
  background-color: #fc4e03;
}

#cancelbutton{
  background-color: #a8a8a8;
}

#taskcontent{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
}

#taskcontent h3{
  font-size: 3vh;
}

#taskcontent h5{
  font-size: 1.5vh;
}

#prioanddatetask{
  display: flex;
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #000000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #335fa6;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loadingcointainer{
  width: 70vw;
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: red; */
  /* float:right; */

  grid-area: tasks;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Footer{
  width: 100%;
  height: 20vh;
  background-color: #2e5799;
  margin-top: 5%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#footercontainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  font-family: 'Montserrat', sans-serif;
}



.Footer a{
  color: white;
}

#socials{
  font-size: 2rem;

 width: 20%;
 margin: 0 auto;
 display: grid;
 grid-template-columns: auto auto;
  
}

#searchbarcontainer{
  width: 50%;
  height: 80%;
}

#searchbar{
  width: 80%;
  height: 100%;
  border-style: none;
  border-radius: 0.3rem 0 0 0.3rem;
  padding-left: 1rem;
  font-size: 2vh;
}

#searchbarbutton{
  width: 10%;
  height: 100%;
  border-style: none;
  background-color: #dadada;
  cursor: pointer;
  border-radius: 0 0.3rem 0.3rem 0;
  font-size: 2vh;
}

#icon{
  width: 30vw;
  height: 30vh;
  color: #dadada;
}

#icon img{
  width: 50%;
  height: auto;
}


#sort{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 2vh;
  
}

.sortoption{
  border-style: none;
  width: 70%;
  height: 30%;
  color: black;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 2.5vh;
}

.sortoption:hover{
  background-color: #dadada;
}

.sortbutton{
  padding: 1%;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  background-color: #2e5799;
  color: white; 
  width: 20%;
}

#signoutcontainer{
  font-size: 3.5vh;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.boxicon{
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  color: #dadada;
}

.boxicon img{
  color: #dadada;
}

.boxicon:hover{
  transform: translateY(10%);
}

#loginbuttons{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto;
}

.Menu{
  background-color: transparent;
  border-style: none;
  font-size: 3vh;
  color:white;
  cursor:pointer;
}

.Menu:hover{
  color:#dadada;
}

#tudo{
  color: #2e5799;
}

#hoje{
  color: orange;
}

#amanha{
  color: green;
}

#atrasado{
  color: red;
}

#concluido{
  color: purple;
}

@media only screen and (max-width:600px)
{
  .grid{

    display: grid;
    grid-template-areas:
    'opcoes'
    'content';
  }

  #options{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* float: left; */
    grid-area : opcoes;
    background-color: #ebebeb;
  }

  #taskis{
    display: none;
  }
}

#checkconcluida{
  font-size: 2vh;
}

.mensagem{
  font-size: 3vh;
}

@media only screen and (max-width:400px)
{
  .innerheaderapp{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}