
*{
    font-family: 'Poppins', sans-serif;
}

#logoprincipal{
    transition: 0.5s;
}

#logoprincipal:hover{
    color: #2e5799;
}

#loginresgister{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#loginbuttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.botaodelogin,.botaodecancelar{
    border-style: none;
    padding:1%;
    cursor:pointer;
}

.botaodelogin{
    width: 100%;
    background-color: #2e5799;
    color: white;

}

.botaodecancelar{
    width: 100%;
}

#loginbutton,#registerbutton{
    width: 15vw;
    height: 5vh;
    cursor: pointer;
    border-style: none;
    color:white;
    font-size: large;
    background-color: #2e5799;
    transition: 0.2s;
}

#loginbutton:hover,#registerbutton:hover{
    letter-spacing: 0.3rem;
}


.loginform{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loginformcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logincontainer,.registercontainer{
    width: 100%;
}


.inputlogin{
    padding: 1%;
    border-style: none;
    border: 0.1rem solid grey;
    width: 50%;
    padding:3%;

}

.telainicialcontainer{
    display: flex;
    flex-direction: column;
}

.logreg{
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 10%; */
    margin: 0 auto;
}

.imagem{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: MoveUpDown 10s linear infinite;
    position: relative;

    
}

.imagemcontainer{
    width: 1280px;
    height: 592px;
    /* width: 70vw;
    height: 32vh; */
}

.imagemcontainer img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3%);
    }
  }

  .headerinicial{
    width: 100%;
    height: 7vh;
  }

  .innerheaderinicial{
      width: 95%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .innerheaderinicial a{
      text-decoration: none;
      color:black;
  }

#teste{
    font-size: 3rem;
}

#footertelainicial{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#eu{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.5rem;
    color: black;
}

#eusociais{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

#eusociais i:hover{
    transform: translateY(-10%);
}

html {
    scroll-behavior: smooth;
  }