
*{
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.header{
    width: 100%;
    height: 7vh;
    background-color: #171717;
    color: white;
}

.header a{
    text-decoration: none;
    color: white;
}

.innerheader{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    color: white;
}

.fa-github,.fa-linkedin{
    color: white;
}

#headerabout{
    font-size: 3vh;
}

.telainicialcontainer{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: #26272b;
}

.info{
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2.5vw;
    flex-direction: column;
    color: white;
}


.maquina{
    width: 100%;
    text-align: left;
    font-size: 2vh;
}

.logreg{
   
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.login,.register{
    width: 20vw;
    font-size: 3vh;
    background-color: white;
    border-style: none;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.login:hover,.register:hover{
    letter-spacing: 0.5vh;
}

.imagem{

    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemcontainer{
    width: 90%;
    height: 30v;
    
    
}

.imagemcontainer img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    animation: MoveUpDown 15s linear infinite;
}


@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3vh);
    }
  }

.fa-check{
    color: white;
}

#certo{
    color: #2e5799;
}

.logogrande{
    font-size: 7vh;
    width: 100%;
    height: 20vh;
    text-align: left;
    color: white;
}

#taskisgrande{
    transition: 0.7s;

}
#taskisgrande:hover{
    letter-spacing: -20vh;
    color: transparent;
}

.logincontainer,.registercontainer{
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.logincontainer input,.registercontainer input{
    font-size: 2.5vh;
    padding: 1vh;
}

.loginbuttons{
    display: flex;
    width: 100%;
}

.botaodelogin{
    width: 100%;
    border-style: none;
    background-color: #2e5799;
    color: white;
    font-size: 2.5vh;
    cursor: pointer;
}
.botaodecancelar{
    width: 100%;
    border-style: none;
    font-size: 2.5vh;
    cursor: pointer;
}

#footer{
    width: 100%;
    height: 30vh;
    background-color:#171717;
    font-size: 2vh;
    
}

.innerfooter{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.sociais{
    display: flex;
    flex-direction: column;
}

.icon{
    display: flex;
}